.container
{
	width: 700px;
	height: 500px;
	margin-top:20px;
	border-radius: 10px;
}

body
{
	background:url(../img/c.jpg)no-repeat;
	webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	background-size: 100%;
}

h2
{
   font-family: 'Anton', sans-serif;
   text-align: center;
   margin-bottom: 10px;
   box-shadow: 10px 10px 8px #888888;	
}

label
{
	display: block;
	font-family: 'Bitter', serif;
	margin-left: 50px;
	margin-top:20px;

}

input
{
	display: block;
	font-family: 'Bitter', serif;
	width: 80%;
	margin-left: 50px;
}

.this button
{
	margin-left: 40%;
	margin-top:10px; 
}

.patio
{
	background-color: white;
	border-radius: 10px;
}